body{
    background: url("https://kartinkin.net/uploads/posts/2021-07/1625779478_19-kartinkin-com-p-krasivie-minimalistichnie-oboi-krasivie-19.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 50%;
}

.div_heading_text {
    height: 300px;  
    text-align: center;
    padding-top: 30px;
}

.img {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.name {
    font-size: 100px;
    color:  	#c619fe;
    letter-spacing: -9px;
}


.Description {
    background-color: #c619fe;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border-radius: 30px;
}
.memb {
    font-size: 40px;
    font-weight: bolder;
}

p {
    color: #6e2efe;
    font-weight: bold;
}
li {
    color: #6e2efe;
}